*	{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*
 
Barra de Navegação
 
 */

nav {
	height: 35px;
	display: flex;
	background-color: #292930;
	color: white;
	align-items: center;
}

.nav-content	{
	padding-left: 50px;
}

@media (max-width: 1000px) {
	.nav-content {
		padding: 0;
		margin: 0 auto;
	}
}

