@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	overflow: hidden;
	background-color: #0e0913;
}


/* Barra de Navegação: adicionando display flex */

nav {
	min-height: 50px;
	height: 6vh;
	display: flex;
}

.logo-icon {
	display: flex;
}

ul {
	display: flex;
	list-style-type: none;
}


/* Definindo o espaço de ocupação dos elementos: adicionando margens e ajustando o posicionamento */

.nav-content {
	width: 80vw;
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
}

.octicon {
	margin-left: 12px;
}

ul>li:not(:first-child) {
	margin-left: 4vw;
}


/* Definindo Tipográfia, Cor, Trasição e Hover */

h1 {
	font-family: "Outfit", sans-serif;
  	font-optical-sizing: auto;
  	font-style: normal;
	font-size: 2vw;
	color: white;
}

.a1, .a2, .a3, .a4 {
	text-decoration: none;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-size: 1.3vw;
}

.a2, .a3, .a4 {
	color: #d6d6d6;
	transition: color 0.3s ease;
}

.a2:hover, .a3:hover, .a4:hover {
	color: white;
}

.a1 {
	/* Destaque que mostra em qual página o usuário se encontra */
	color: #8036ff;
}


/* Definindo cor e posicionamento do circulo */

.circle {
	position: absolute;
	top: -15.5vw;
	left: -22vw;
	width:80vw;
	height: -100vh;
	z-index: -1;
	fill: #8036ff;
}


/* Definindo mode de mesclagem da imagem e o posicionamento */

img {
	position: absolute;
	top: 0;
	right: 6vw;
	width: auto;
	height: 105vh;
	z-index: -2;
	mix-blend-mode: screen;
}


/* Definindo duas div para o texto esquerdo */

.text-container-left {
	width: 80vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 85vh;
	margin: 0 auto;
}

.text-left {
	width: 40vw;
}


/* Ajustando e posicionando texto */

.nome, .function, .paragraph, .button {
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;	
}

.nome {
	font-size: 2.5vw;
	color: #0e0913;
}

.function {
	font-size: 3.5vw;
	color: white;
}

.paragraph {
	font-size: 1.3vw;
	font-weight: 700;
	color: #0e0913;
}

.button {
	width: 32.1vw;
	height: 5.8vw;
	display: flex;
	background-color: rgb(230, 230, 230, 0.95);
	border-radius: 1.5vw;
	margin-top: 1vw;
	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: white;
}

.button>a {
	font-size: 1.5vw;
	font-weight: 700;
	text-decoration: none;
	color: #8036ff;
	margin: auto;
}


/* Responsividade mobile/tablets */

@media (max-width: 768px) {
	nav {
		height: 7vh;
	}

	ul {	/* Retirando temporariamente até que eu aprenda como criar barra lateral escondida */
		display: none;
	}


	/* Definindo a logo e o ícone */

	.logo-icon {
		align-items: center;
		margin: 0 auto;
	}

	h1 {
		font-size: 5vw;
	}

	.octicon {
		width: 5.5vw;
		fill: white;
	}


	/* Definindo a imagem */

	img {
		top: 5vh;
		right: 21vw;
		height: 85vw;
	}


	/* Definindo o texto */

	.text-container-left {
		justify-content: none;
	}

	.text-left {
		position: relative;
		top: 31vh;
		width: 70vw;
		margin: 0 auto;
	}

	.nome {
		font-size: 5vw;
	}

	.function {
		font-size: 7vw;
	}

	.paragraph {
		font-size: 2.5vw;
	}

	.button {
		width: 64.5vw;
		height: 10vw;
		border-radius: 2.5vw;
		margin-top: 2.5vh;
		background-color: white;
	}

	.button>a {
		font-size: 3.5vw;
	}


	/* Definindo o círculo */

	.circle {
		width: 120vw;
		height: 110vw;
		transform: scale(1.5);
		top: 80vh;
		left: -10vw;
	}
}